body {
	margin:0;
	padding:0;
	overflow:auto;
	background:#b9d0ed;
}

input.text {
	width: 200px;
	font-family: monospace;
}

select {
	width: 200px;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-family: monospaced;*/
	background: white;
	padding-left: 10px;
	padding-right: 10px;
}

td.center {
	text-align: center;
}

A { color: black; }
A:link { text-decoration: none; }
A:hover { text-decoration: none; }
A:visited { color: black; text-decoration: none;}
